<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vdiamant.dartsgames">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DartsGames">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddPlayers" />
        <activity
            android:name=".game_701"
            android:label="@string/title_activity_game_701"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".XmlParserActivity" />
        <activity android:name=".killer"></activity>
    </application>

</manifest>